<div class="text-center">
<h3>Login</h3>
<form [formGroup]="loginForm" (ngSubmit)="loginUser($event)">
  <div class="form-group" [ngClass]="{'has-error': loginForm.get('firstName').errors
&& (loginForm.get('firstName').touched || loginForm.get('firstName').dirty )}">
    First Name
    <input type="text" formControlName="firstName" />
    <span class="help-block" *ngIf="loginForm.get('firstName').errors
    && (loginForm.get('firstName').touched || loginForm.get('firstName').dirty )">
      <span *ngIf="loginForm.get('firstName').errors.required" >
          First Name is required
        </span>

        <span *ngIf="loginForm.get('firstName').errors.minlength || loginForm.get('firstName').errors.maxlength" >
                First Name must be 2 charater or more then 10
              </span>

             
    </span>
</div>
<div class="form-group" [ngClass]="{'has-error': loginForm.get('logPwd').errors && (
    loginForm.get('logPwd').touched || loginForm.get('logPwd').dirty)}">
<label>Password </label>
<input type="password" formControlName='logPwd' />
</div>
<div>
<button type="submit" value="login">Login</button>
</div>
</form>
</div>